<div id="view-light">
    <div class="header" ng-hide="lightCtrl.lights || lightCtrl.lights === {}">
        <h2>No Lights available</h2>
    </div>
    <div class="header" ng-show="lightCtrl.light.name">
        <h2>{{lightCtrl.light.name}}</h2>
        <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
        <hr>
    </div>
    <div class="content" ng-show="lightCtrl.light.name">
        <form name="colorForm">
            <input id="color" type="hidden" ng-model="color" data-color-format="hsl" />
        </form>
        <div id="colorPicker"></div>
        <div id="lamp">
            <div id="lamp-color"></div>
            <div id="lamp-img">
                <button type="button" class="btn btn-default btn-on" ng-click="lightCtrl.onPowerSwitch()">
                    <i class="fa fa-power-off"></i>
                </button>
            </div>
        </div>

    </div>
</div>