<div id="view-lightList" ng-controller="LightController as lightCtrl">
    <div class="list" ng-show="lightCtrl.lights">
        <div class="list-header">
            <span>All Lamps</span>
            <button style="float:right;" ng-click="lightCtrl.onShowAllLights()" ng-show="lightCtrl.showAllLights">
                <i class="fa fa-angle-up"></i>
            </button>
            <button style="float:right;" ng-click="lightCtrl.onShowAllLights()" ng-show="!lightCtrl.showAllLights">
                <i class="fa fa-angle-down"></i>
            </button>
        </div>
        <ul class="list-content" ng-show="lightCtrl.showAllLights">
            <li ng-repeat="light in lights" class="list-item">
                <a href="#/lights/{{light.id}}" ng-click="mainCtrl.switchToMainPanel()">{{light.name}}</a>
            </li>
        </ul>
    </div>
    <div class="list" ng-repeat="group in groups">
        <div class="list-header">
            <span>{{group.name}}</span>
            <button style="float:right;" ng-click="lightCtrl.onToggleShowGroup(group)" ng-show="group.show">
                <i class="fa fa-angle-up"></i>
            </button>
            <button style="float:right;" ng-click="lightCtrl.onToggleShowGroup(group)" ng-show="!group.show">
                <i class="fa fa-angle-down"></i>
            </button>
        </div>
        <ul class="list-content" ng-show="group.show">
            <li ng-repeat="light in group.lights" class="list-item">
                <a href="#/lights/{{lightCtrl.lights[light]}}}}" ng-click="mainCtrl.switchToMainPanel()">{{light.name}}</a>
            </li>
        </ul>
    </div>

</div>
