body{
    overflow-x: hidden;
    overflow-y: hidden;
}
#list-border{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: 1px solid #dddddd;
}
/*++++++++++++++++++++++++++++++++++++++++*
 * LightSwitch Style Sheet
 *++++++++++++++++++++++++++++++++++++++++*/
#application{
    position: absolute;
    width: 100%;
    max-width: 100%;
    top: 0;
    height: 100%;
    background-color: #bdbdbd;
}

/*----------------------------------------*
 * Main View
 *----------------------------------------*/
#view-main{
    position: relative;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto 0 auto;
    padding: 0 15px 0 15px;
    background-color: #ffffff;
}

/*----------------------------------------*
 * Header
 *----------------------------------------*/
#header-background {
    position: absolute;
    height: 63px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1b2124;
}
#header-shadow{
    position: absolute;
    top: 63px;
    left: 0;
    right: 0;
}
#header{
    background-color: #1b2124;
}
#header-text{
    height: 63px;
}
#header h1{
    margin-top: 12px;
    font-size: 24pt;
    color: #92c924;
}
#header a.btn{
    margin: 10px;
    color: #e9ebe4;
    outline: none; }
#header a.btn:hover{ color: #92c924; }
#header a.btn:focus{ color: #92c924; }
#header a.btn:active{ color: #e9ebe4; }

/*----------------------------------------*
 * Navigation
 *----------------------------------------*/
#navbar {
    padding: 0 0 0 0;
    background-color: #e9ebe4;
}
.navbar ul li{
    min-width: 170px;
    font-size: 14pt;
}

.navbar ul li a{
    color: #1b2124;
}
.navbar ul li a:hover{
    color: #ffffff;
    background-color: #5ebce8;
    box-shadow: inset -5px 0 5px -1px #e9ebe4, inset 5px 0 5px -1px #e9ebe4;
}
.navbar ul li a:hover,
.navbar ul li a:active,
.navbar ul li a:focus{
    outline: none;
}
nav.navbar{
    margin: 0;
}
/*----------------------------------------*
 * View Content
 *----------------------------------------*/
.view-content{
    bottom: 0px;
}
/*----------------------------------------*
 * Split panel
 *----------------------------------------*/
#split-panel{
    position: relative;
    height: 100%;
}
#panel-left,
#panel-content{
    height: 100%;
}
/*----------------------------------------*
 * List
 *----------------------------------------*/
.list{
    height: 100%;
}
.group-down{
    float: right;
    display: inline-block;
    min-width: 10px;
    padding: 3px 3px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #1b2124;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.list-group{
    border-radius: 0;
    border-top: none;
    box-shadow: none;
    margin: 0;
}
.list-group-item{
}
.list-group-item:first-child{
    border-radius: 0;
    background-color: #dddddd;
}
.list-group-item:last-child{
    border-radius: 0;
}
/*----------------------------------------*
 * Shadows
 *----------------------------------------*/
.shadow-darkgray{
    box-shadow: 0 0 5px 5px #1B2124;
}
.shadow-inset-white{
    box-shadow: inset 0 -8px 5px -5px #ffffff;
}
/*----------------------------------------*
 * Test Part
 *----------------------------------------*/
.row{
}
.row div{
    padding: 0;
}

/*++++++++++++++++++++++++++++++++++++++++*
 * Color codes
 *++++++++++++++++++++++++++++++++++++++++*/
/*
red:        #ff325b

darkgray:	#1b2124
green:		#92c924
blue:		#5ebce8
beige:      #e9ebe4
white:		#f9f9f9
*/