<div ng-controller="LampController as lampCtrl">
    <div class="list" ng-repeat="group in lampCtrl.groups">
        <div class="list-header">
            {{group.name}}
            <div style="float:right;"><i class="fa fa-angle-up"></i></div>
        </div>
        <ul class="list-content">
            <li ng-repeat="lamp in group.lamps" class="list-item">
                <a href="#/lamps/{{lamp.id}}" ng-click="mainCtrl.switchToMainPanel()">{{lamp.name}}</a>
            </li>
        </ul>
    </div>

</div>