<div id="view-settingsSubmenu" ng-controller="SettingsController as settingsCtrl">
    <div class="list">
        <ul class="list-content" >
            <li class="list-item">
                <a href="#/settings/account" ng-click="mainCtrl.switchToMainPanel()">Account</a>
            </li>
            <li class="list-item">
                <a href="#/settings/speech" ng-click="mainCtrl.switchToMainPanel()">Speech</a>
            </li>
            <li class="list-item">
                <a href="#/settings/rfid" ng-click="mainCtrl.switchToMainPanel()">RFID</a>
            </li>
            <li class="list-item">
                <a href="#/settings/devices" ng-click="mainCtrl.switchToMainPanel()">Network Devices</a>
            </li>
        </ul>
    </div>
</div>