/*++++++++++++++++++++++++++++++++++++++++*
 * General
 *++++++++++++++++++++++++++++++++++++++++*/
body{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #bdbdbd;
    color: #1b2124;
}
a,a:focus, a:active{  outline: none; }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9, .row {
    padding: 0;
    margin: 0;
}
/*++++++++++++++++++++++++++++++++++++++++*
 * LightSwitch Style Sheet
 *++++++++++++++++++++++++++++++++++++++++*/
#application{
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    top: 0;
    bottom: 0;
    background-color: #bdbdbd;
}

/*----------------------------------------*
 * Main View
 *----------------------------------------*/
#view-main{
    position: relative;
    max-width: 1280px;
    min-height: 100%;
    margin: 0 auto 0 auto;
    padding: 4.5em 0 0 0;
    background-color: #ffffff;
}

/*----------------------------------------*
 * Header
 *----------------------------------------*/
#header {
    position: fixed;
    height: 4em;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1b2124;
    border-top: 0.2em solid #96E100;
    box-shadow: -5px 0 5px 5px #1b2124, 5px 0 5px 5px #1b2124;
}
#header-shadow{
    position: absolute;
    top: 4em;
    width: 100%;
    box-shadow: -5px 0 5px 5px #1b2124, 5px 0 5px 5px #1b2124;
}
#header-content{
    max-width: 1280px;
    margin: 0 auto 0 auto;
}
#header-text{
    height: 4em;
}
#header h1{
    margin-top: 0.25em;
    color: #96E100;
}
#header a.btn{
    margin: 0.8em;
    font-size: 0.9em;
    color: #e9ebe4;  }
#header a.btn:hover{ color: #96E100; }
#header a.btn:focus{ color: #96E100; }
#header a.btn:active{ color: #e9ebe4; }

/*----------------------------------------*
 * Navigation
 *----------------------------------------*/
#navbar {
    max-width: 1280px;
    margin: 0 auto 0 auto;
    background-color: #e9ebe4;
}
#navbar nav{
    border: none;
}
#navbar-buffer{
    height: 45px;
}
.navbar ul li{
    min-width: 170px;
    font-size: 14pt;
}

.navbar ul li a{
    color: #1b2124;
}
.navbar ul li a:hover{
    color: #ffffff;
    background-color: #5ebce8;
    box-shadow: inset -5px 0 5px -1px #e9ebe4, inset 5px 0 5px -1px #e9ebe4;
}
.navbar ul li a:hover,
.navbar ul li a:active,
.navbar ul li a:focus{
    outline: none;
}
nav.navbar{
    margin: 0;
}
/*----------------------------------------*
 * Split panel
 *----------------------------------------*/
#split-panel{
    position: relative;
    height: 100%;
}
#panel-left,
#panel-content{
    height: 100%;
}
#panel-left{
    /*overflow: scroll;
    overflow-x: hidden;*/
}
/*----------------------------------------*
 * List
 *----------------------------------------*/
.list{
    height: 100%;
    border-right: 0.1em solid #dddddd;
    font-size: 1.25em;
}
.list-header{
    border-bottom: 1px solid #ffffff;
    padding: 0.6em 0.6em;
    background-color: #dddddd;
    font-weight: bold;
}
.list-header i{
    font-size: 1em;
}
.list-content{
    margin: 0;
    padding: 0;

}
.list-item{
    position: relative;
    display: block;
    padding: 0;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dddddd;
}
.list-item:hover{
    background-color: #96E100;
}
.list-item a{
    display: block;
    padding: 0.6em 0.6em;
    text-decoration: none;
    color: #1b2124;
}
/*----------------------------------------*
 * Shadows
 *----------------------------------------*/
.shadow-darkgray{
    box-shadow: 0 0 5px 5px #1B2124;
}
.shadow-inset-white{
    box-shadow: inset 0 -8px 5px -5px #ffffff;
}
/*----------------------------------------*
 * Test Part
 *----------------------------------------*/

/*++++++++++++++++++++++++++++++++++++++++*
 * Color codes
 *++++++++++++++++++++++++++++++++++++++++*/
/*
red:        #ff325b

darkgray:	#1b2124
green:		#92c924
blue:		#5ebce8
beige:      #e9ebe4
white:		#f9f9f9
*/